:root {
    --primary: #1977cc;
    --secondary: #3fbbc0;
    --tertiary: #87CEEB;
    
    --light: #EFF5F9;
    --dark: #1D2A4D;
    --purple: #5052e0;
}

*{
    transition: ease all 0.5s;
}

.recentarticlessection{
    margin-bottom: 3rem;
    
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}

.recentarticlesheader{
    width: 100%;
    float: left;
    padding-top: 5rem;
    margin-bottom: 5px;
}
.recentarticlesheader-2{

    padding-top: 5rem;
    margin-bottom: 5px;
}

.recentarticlesheader p{
    color: var(--dark);
    font-size: large;
}

.recentarticlesheader h3{
    display: inline-block;
    color: var(--dark);
    margin-bottom: 1rem;
    
}
.row .recentarticle-side{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1.5rem;
    width: 240px;
    height: 330px;
    box-sizing: border-box;
}

.row .recentarticle-main{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    padding: 0;
    width: 240px;
    height: 330px;
    box-sizing: border-box;
}

.intro-header{
    text-align: center;
}

.intro-header img{
    padding-top: 15px;
}

.intro{
    background-image: url("imgs/back.jpg");
    height: 75%;
    margin-bottom: 5%;
    background-size: cover;
}

@media screen and (max-width: 950px) {
    .vanish{
      display: none; /* Sides get removed when the viewport is 800px or smaller */
    }

     .seeall_main .see_all{
        width: 60%;
        float: inline-end;  
      }
    
    .row{
        justify-content: center;
    }

    .intro-header{
        display: none;
    }

}



.recentarticle-main a,.recentarticle-side a{
    text-decoration: none;
}

.recentarticle-main h5,.recentarticle-side h5{
    color: var(--dark);
    font-weight: bold;
    padding-bottom: 0.2rem;
}

.recentarticlessection hr{
    border-top: 3px solid;
    color:var(--primary);
    padding-top:3px
}

.recentarticle-main img,.recentarticle-side img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.border-dark{
  
  border-top: 3px solid black;

}

.recentarticle-main, .recentarticle-side {position: relative;}

.recentarticle-main .recentcaption {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    height: auto;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--dark);
    position: absolute;
    bottom: .5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.recentarticle-img:hover {
    box-shadow: 0px 1px 9px 10px var(--secondary);
}

.topicsrow{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



.topicsbox {
    display: inherit;
}

.topicslist{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    
}

.topicscol li{
    flex: 23% 0;
    margin: 0 1%;
    padding: 1rem 0 0.5rem 0;
    border-bottom: 1px solid ;
}

hr{
    border-top: 3px solid;
}
.topicsheader h3{
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    display: inline-block;
}
.topicscol{
    display: flex;
    flex-wrap: wrap;
    color: var(--dark);
    padding-bottom: 2.5rem;
}

.topicscol a{
    text-decoration: none;
    color: inherit;
    
}
.topicscol li:hover{ 
    text-decoration: none;
    color: var(--secondary);
}

body{
    letter-spacing: -.02rem;
}

.seemore_main {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    color: var(--dark);
}
.see_more{
    width: 100%;
    float: left;
    
}
.see_more a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: var(--light);
    background-color: var(--primary);
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px;
}
.see_more a:hover{
    color: #ffffff;
    background-color:var(--purple);
}

.seeall_main {
    width: 60%;
    height: auto;
    display: inline;
    float: right;
    margin: 0 auto;
    text-align: center;
    
    
}
.see_all{
    width: 20%;
    float: right;
}
.see_all a{
    width: 100%;
    float: right;
    font-size: 18px;
    color: var(--light);
    background-color: var(--primary);
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
}
.see_all a:hover{
    color: var(--light);
    background-color: var(--purple);
}  


  
  .see_all:hover, .see_more:hover{
    padding-right: 0.5rem;
    padding-left:0.5rem;
  }
  





  /* Animation  */
  body {
    min-height: 300vh;
   // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

    //lock homepage
   // overflow: hidden;

  }
  
  header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
//background-image: url("imgs/back.jpg");
  }
  header h1, header button {
    position: relative;
    z-index: 10;
  }
  header h1 {
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 3em;
    color: #fff;
    font-family: "Montserrat", sans-serif;
  }
  header button {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 60px);
    width: 120px;
    height: 52px;
    border: 0;
    box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    font-size: 1em;
    color: #09203f;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    overflow: hidden;
  }
  header button:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  header button:focus {
    outline: 0;
  }
  header button:before, header button:after {
    font-family: "Font Awesome 5 Free";
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    top: 15px;
    position: absolute;
  }
  header button:before {
    content: "";
    opacity: 1;
    left: 53px;
  }
  header button:after {
    content: "";
    opacity: 0;
    left: 0;
  }
  header .triangle {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  header .triangle.left {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
  header .triangle.right {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
  header.open .triangle.left {
    clip-path: polygon(0 0, 0 100%, 0 100%);
  }
  header.open .triangle.right {
    clip-path: polygon(100% 0, 100% 0, 100% 100%);
  }
  header.open button {
    left: 40px;
    bottom: 40px;
    width: 50px;
    border-radius: 50%;
  }
  header.open button:before {
    opacity: 0;
    left: 100%;
  }
  header.open button:after {
    opacity: 1;
    left: 18px;
  }
  header.open button.menu {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
  header.open button.menu:after {
    left: -100%;
  }
  
  .fade-in{
    animation: fadeIn 3s;
  }

  .fade-in-scroll{
    opacity: 0;
    //transform: translate(0, 10vh);
    transition: all 3s;
  }
  
  .fade-in-scroll.visible {
    opacity: 1;
    //transform: translate(0, 0);
  }

  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }

    
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .jump-up {
    transform: translateY(20px); /* Initial position */
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.visible {
    transform: translateY(0);
    opacity: 1;
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* White background */
  z-index: -1;
}